.auth-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0px;
  padding-top: 0px;
  height: 100%;

  @media only screen and (max-device-width: 640px) {
    flex-direction: column;
  }

  .auth-modal-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background-color: #2196f3;
    height: 100%;
    width: 100%;
    h2 {
      margin: 0;
      margin-left: 15px;
    }

    @media only screen and (max-device-width: 640px) {
      flex-direction: row;
    }
  }

  .auth-modal-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    @media only screen and (max-device-width: 640px) {
      flex: 5;
    }
    height: 100%;
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;

    span {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
