<mat-toolbar color="primary">
    <img src="../../assets/devnotes.png" width= "35px" alt="" style ="margin-right: 10px">

    <h2>DevNotes</h2>
    <div class="flex-stretch"></div>
    
    
    <button mat-mini-fab class ="profile-icon" [matMenuTriggerFor]="menu"> 
      <mat-icon class="profile-icon">person</mat-icon>
    </button>
    <!-- (click)="openDialog()"  -->
    
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openLogInDialog()">Log In</button>
      <button mat-menu-item (click)="openCreateAccountDialog()" >Create New Account</button>
      
      <div class ="dark-mode-toggle">
        <!-- <mat-icon class="mr-8" color= "accent" >brightness_5</mat-icon> -->
        <mat-icon class="mr-8" color= "accent" >bedtime</mat-icon>
        <mat-slide-toggle [formControl]="toggleControl" class="mr-3"></mat-slide-toggle>
      </div>
    </mat-menu>
    
  </mat-toolbar>
  