<div class="create-account-container">
    <div class="create-account-modal-left">
        <h2 style="color: white">DevNotes</h2>
    </div>

    <div class="create-account-modal-right">
        <h2>Create Account</h2>
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput type="text"  placeholder="Ex. elonmusk420"/>
            </mat-form-field>
        
            <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Ex. elonmusk@email.com" />
            </mat-form-field>
        
            <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" />
            </mat-form-field>
        </form>
        <h4>or join with</h4>
    
    
        <button mat-flat-button color="primary">
            <img src="assets/github.png" alt="github" />
        </button>

    </div>
</div>
