<div class="auth-container">
    <div class="auth-modal-left">
        <img src="../../assets/devnotes.png" width= "50px" alt="">
        <h2 style="color: white">DevNotes</h2>
    </div>

    <div class="auth-modal-right">
        <h1>Log In</h1>
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Ex. elonmusk@email.com"  [(ngModel)]="email" name="email"/>
            </mat-form-field>
        
            <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password"  [(ngModel)]="password" name="password"/>
            </mat-form-field>

            <button mat-raised-button  style ="background-color:#3BA55D" (click)="login($event)" >Log In</button>
            <span>
                <button mat-raised-button color= "primary" (click)="transferAuth($event)" >Create Account Instead</button>
            </span>
            </form>
        <h4 style="margin:0px; margin-bottom: 10px">or login with</h4>
    
    
        <button mat-raised-button color="accent" (click) ="loginWithGitHub($event)">
            <img src="assets/github2.png"  width = "100" alt="github"  />
        </button>

    </div>
</div>
