<div class="auth-container">
    <div class="auth-modal-left">
        <img src="../../assets/devnotes.png" width= "50px" alt="">
        <h2 style="color: white">DevNotes</h2>
    </div>

    <div class="auth-modal-right">
        <h1>Log In</h1>
        <form >
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Ex. elonmusk@email.com" [formControl] = "emailFormControl"  name="email"/>
                <mat-error *ngIf="emailFormControl.hasError('minlength') && !emailFormControl.hasError('required')">
                Email must be longer than 3 characters
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required') && !emailFormControl.hasError('minlength')">
                Email is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('email') &&  !emailFormControl.hasError('minlength') && !emailFormControl.hasError('required')">
                Email is <strong> formatted incorrectly</strong>
                </mat-error>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password"  [formControl] = "passwordFormControl" name="password"/>
                <mat-error *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required') && !passwordFormControl.hasError('maxlength')" >
                    Password must be longer than <strong> 3 characters</strong>
                </mat-error>
                <mat-error *ngIf="passwordFormControl.hasError('required') && !passwordFormControl.hasError('minlength')">
                    Password is <strong>required</strong>
                </mat-error>
                <mat-error style ="margin-bottom: 20px" *ngIf="passwordFormControl.hasError('maxlength') &&  !passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
                    Password can't be longer than <strong> 30characters </strong>
                </mat-error>
            </mat-form-field>
            <br *ngIf="passwordFormControl.errors"/>             
            <button mat-raised-button  style ="background-color:#3BA55D" (click)="login($event)" >Log In</button>
            <span>
                <button mat-raised-button color= "primary" (click)="transferAuth($event)">Create Account Instead</button>
            </span>
            </form>
        <h4 style="margin:0px; margin-bottom: 10px">or login with</h4>
  
        <button mat-raised-button color="accent" (click) ="loginWithGitHub($event)">
            <img src="assets/github2.png"  width = "100" alt="github"  />
        </button>
    </div>
</div>
