<div class="auth-container">
    <div class="auth-modal-left">
        <img src="../../assets/devnotes.png" width= "50px" alt="">
        <h2 style="color: white">DevNotes</h2>
    </div>

    <div class="auth-modal-right">
        <h1>Create Account</h1>
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput type="text"  placeholder="Ex. elonmusk420"/>
            </mat-form-field>
        
            <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Ex. elonmusk@email.com" />
            </mat-form-field>
        
            <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" />
            </mat-form-field>
            <button mat-raised-button color= "primary"(click)="createAccountEmailPassword($event)" >Create Account</button>
            <span>
                <button mat-raised-button (click)="transferAuth($event)"  class ="darkPrimary">Login Instead</button>
            </span>
        </form>
        <h4 style="margin:0px">or join with</h4>
    
    
        <button mat-raised-button color="accent" (click)="createAccountEmailPassword($event)">
            <img src="assets/github2.png" width = "100" alt="github" />
        </button>

    </div>
</div>
