.add-note-card {
  min-width: 300px;
  max-width: 400px;
  margin-bottom: 30px;
  border-top: 5px solid;

  // border-top: 5px solid;

  textarea {
    max-height: 500px;
  }
  .add-note-field {
    width: 100%;
    margin-top: 5px;

  }
  .add-buttons-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5px;

    .footer-left {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      mat-button-toggle {
        max-height: 36px;
        align-items: center;
      }

      .tool-button-col {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        button {
          margin: 0px;
        }

        .mat-icon {
          margin: 0px;
        }
      }
    }

    .footer-right {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    button {
      margin-left: 10px;
    }
  }
}

.add-note-card-disabled {
  display: flex;
  justify-content: center;
  align-items: center;

  .add-note-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin-right: 15px;
  }
}

::ng-deep
  .mat-button-toggle-appearance-standard
  .mat-button-toggle-label-content {
  line-height: 36px !important;
}
