<mat-card *ngIf="!isDisabled; else disabled" class="add-note-card accent_border">
  <mat-card-content>
    <form class="add-note-form">
      <mat-form-field class="add-note-field" appearance="fill">
        <mat-label>Note title</mat-label>
        <input
          type="text"
          matInput
          [formControl]="titleFormControl"
          placeholder="eg. Optimise algorithm"
        />
        <mat-error
          *ngIf="
            titleFormControl.hasError('minlength') &&
            !titleFormControl.hasError('required')
          "
        >
          Title must be longer than 3 characters
        </mat-error>
        <mat-error *ngIf="titleFormControl.hasError('required')">
          Note title is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="add-note-field" appearance="fill">
        <mat-label>Note description</mat-label>
        <textarea
          text="text"
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="20"
          [formControl]="descriptionFormControl"
          placeholder="eg. Use binary search to optimise algorithm"
        ></textarea>
        <mat-error
          *ngIf="descriptionFormControl.hasError('minlength') &&
            !descriptionFormControl.hasError('required')"
        >
          description must be longer than 3 characters
        </mat-error>
        <mat-error *ngIf="descriptionFormControl.hasError('required')">
          Note description is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <div class="add-buttons-footer" >
        <div class = "footer-left">
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style" multiple>
            <mat-button-toggle value="checklist">
              <mat-icon color="accent">checklist_rtl</mat-icon>
             </mat-button-toggle>
             <mat-button-toggle value="dueDate">
              <mat-icon color="accent">alarm_on</mat-icon>
             </mat-button-toggle>
           </mat-button-toggle-group>

          <div class = "tool-button-col">
            <button color="primary" mat-icon-button class = "mat-fab-tool">
             
            </button>
          </div>
        </div>

        <div class = "footer-right">
          <button mat-raised-button color="warn" (click) = "close($event)">Cancel</button>
          <button
          mat-raised-button
          color="primary"
          [disabled]="
          descriptionFormControl.hasError('required') ||
          descriptionFormControl.hasError('minlength')
          "
          (click)="addNote($event)"
          >
          Add Note
        </button>
      </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<ng-template #disabled>
  <button mat-raised-button style ="margin-bottom: 20px">

    <div class="add-note-card-disabled"
    [class.btn-success]="mouseOvered" 
    (mouseover)="mouseOvered=true"
    (mouseout)="mouseOvered=false"
    (click)="isDisabled=false"
    >
    <button mat-icon-button class ="add-note-button"  >
      <mat-icon class="profile-icon">note_add</mat-icon>
    </button>
    Add Note
  </div>
</button>
 
</ng-template>
