<!-- <p *ngIf ="user">{{user.email}}</p> -->
 
    <mat-toolbar class="projects-container">

        <mat-chip-list>
            <mat-chip class="example-box" cdkDrag> Project1 </mat-chip>
            <mat-chip class="example-box" cdkDrag> Project2 </mat-chip>
            <mat-chip class="example-box" cdkDrag> Project3 </mat-chip>
            <mat-chip class="example-box" cdkDrag> Project1 </mat-chip>
            <mat-chip class="example-box" cdkDrag> Project2 </mat-chip>
            <mat-chip class="example-box" cdkDrag> Project3 </mat-chip>
            <mat-chip class="example-box" cdkDrag> Project1 </mat-chip>
            <mat-chip class="example-box" cdkDrag> Project2 </mat-chip>
            <mat-chip class="example-box" cdkDrag> Project3 </mat-chip>
            <mat-chip class="example-box" cdkDrag> Project1 </mat-chip>
            <mat-chip class="example-box" cdkDrag> Project2 </mat-chip>
            <mat-chip class="example-box" cdkDrag> Project3 </mat-chip>
            
        </mat-chip-list>
    </mat-toolbar>
 
<!-- *ngFor="let vegetable of vegetables"> -->
<div class="note-container">
  <ng-container *ngIf="notes">
    <mat-card class="note primary_border" *ngFor="let note of notes">
      <mat-card-title-group>
        <mat-card-title>{{ note.id }} {{ note.user_id }}</mat-card-title>
        <mat-card-subtitle>{{ note.timestamp }}</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>{{ note.note_text }}</mat-card-content>
    </mat-card>
    <br />
  </ng-container>
</div>
