// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$custom-typography: mat.define-typography-config(
  $font-family: "Roboto",
);
$dev-notes-webapp-primary: mat.define-palette(
  mat.$blue-palette,
  A400,
  A200,
  A100
);
$dev-notes-webapp-accent: mat.define-palette(
  mat.$orange-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$dev-notes-webapp-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dev-notes-webapp-theme: mat.define-light-theme(
  (
    color: (
      primary: $dev-notes-webapp-primary,
      accent: $dev-notes-webapp-accent,
      warn: $dev-notes-webapp-warn,
    ),
    typography: $custom-typography,
  )
);

@include mat.all-component-themes($dev-notes-webapp-theme);

$angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dev-notes-webapp-primary,
      accent: $dev-notes-webapp-accent,
      warn: $dev-notes-webapp-warn,
    ),
    typography: $custom-typography,
  )
);

.darkMode {
  @include mat.all-component-colors($angular-dark-theme);
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

/* You can add global styles to this file, and also import other style files */

html,
body {
  position: relative;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-dialog-container {
  padding: 0px !important;
}
.app-create-account-modal {
  height: 100% !important;
}

.darkPrimary {
  background-color: mat.get-color-from-palette(
    $dev-notes-webapp-primary,
    "lighter"
  ) !important;
  color: white;
}
